.title {
    margin-left: 20px;
}

.content {
    margin: 8px;
}

.list-item {
    color: black;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin: 7px;
    &--text {
        margin-left: 5px;
    }
}

.mat-drawer {
    width: 140px;
}

.mat-list-item {
    text-decoration: none;
    cursor: pointer;
}