/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-paginator-container {
    direction: ltr;
    justify-content: flex-end
}

.mat-tab-body-wrapper {
    display: none !important;
}